<div class="container">
  <div class="form-field">
      <div id="header" class="main-text app-main"><h3>Delete Member</h3></div>
      <div>
        <label for="MemberID">Member ID</label>
          <input id="MemberID" type="number" placeholder="Member ID"
          [(ngModel)]="memberStatus.memberID"> 
          <!-- <input #memberIDRef id="MemberID" type="number" placeholder="Member ID"
          [(ngModel)]="filter"> -->
          <div class="button-row">
            <a class="button" (click)="getIDClick(memberStatus.memberID)">Find</a>
          </div>
        
        <!-- table -->
        <div class="table-container app-main">
          <table>
              <thead>
                  <tr>
                      <th>Member ID</th>
                      <th id="col2">First Name</th>
                      <th id="col3">Last Name</th>
                      <th id="col4">Member Status</th>
                      <th id="col5">Registered Class</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let status of statuses">
                    <td *ngIf="status.memberID == memberStatus.memberID">{{status.memberID}}</td>
                    <td id="col2" *ngIf="status.memberID == memberStatus.memberID">{{status.firstName}}</td>
                    <td id="col3" *ngIf="status.memberID == memberStatus.memberID">{{status.lastName}}</td>
                    <td id="col4" *ngIf="status.memberID == memberStatus.memberID">{{status.memberStatusDescription}}</td>
                    <td id="col5" *ngIf="status.memberID == memberStatus.memberID">{{status.classDescription}}</td>
                  </tr>
              </tbody>
          </table>
          </div> <!-- end of table container--> 
      <div class="button-row">
          <a class="button" href="http://localhost:4200">Go Back</a>
          <a class="button" (click)="deleteClick()">Delete Member</a>
      </div>
  </div>
</div>

