<!-- <div id="header" class="main-text app-main"><h1>{{title}}</h1></div>
<div class="navbar app-main">
    <ul>
        <li><a routerLink="/all">All</a></li>
        <li><a routerLink="/status">Account Status</a></li>
        <li><a routerLink="/swim">Swim</a></li>
        <li><a routerLink="/yoga">Yoga</a></li>
        <li><a routerLink="/pilates">Pilates</a></li>
        <li><a routerLink="/kickboxing">Kickboxing</a></li>
    </ul>
</div> -->
<div class="container">
  <div class="content-container">
  
  <!-- table -->
  <div class="table-container app-main">
  <table>
      <thead>
          <tr>
              <th>Member ID</th>
              <th id="col2">First Name</th>
              <th id="col3">Last Name</th>
              <th id="col4">Member Status</th>
              <th id="col5">Registered Class</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let status of statuses">
            <td>{{status.memberID}}</td>
            <td id="col2">{{status.firstName}}</td>
            <td id="col3">{{status.lastName}}</td>
            <td id="col4">{{status.memberStatusDescription}}</td>
            <td id="col5">{{status.classDescription}}</td>
          </tr>
      </tbody>
  </table>
  </div>
  </div> <!-- end of content container-->
  
</div> <!--end of container-->

