<div id="header" class="main-text app-main"><h1>{{title}}</h1></div>
<div class="navbar app-main">
    <ul>
        <li><a class="active" href="#home">All</a></li>
        <li><a href="#about">Account Status</a></li>
        <li><a href="#contact">Swim</a></li>
        <li><a href="#contact">Yoga</a></li>
        <li><a href="#contact">Pilates</a></li>
        <li><a href="#contact">Kickboxing</a></li>
    </ul>
</div>
<div class="container">
    
  
  <!-- <div class="image-container"><img src="assets/img/Zombie.jpg" /></div> -->
  <div class="content-container">

  <!-- <p class="main-text app-main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis molestiae doloribus dignissimos 
      odit minima illo? Sunt dolore corporis impedit. Sequi fugit reiciendis alias excepturi rem, 
      libero facilis minima aspernatur fugiat nam facere. Vel nulla voluptates sed veniam est sapiente 
      voluptatum quam illum odit tempore fuga quibusdam blanditiis, culpa sequi?</p> -->
  
  <!-- table -->
  <div class="table-container app-main">
  <table>
      <thead>
          <tr>
              <th>Member ID</th>
              <th id="col2">First Name</th>
              <th id="col3">Last Name</th>
              <th id="col4">Member Status</th>
              <th id="col5">Registered Class</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let status of statuses">
            <td>{{status.memberID}}</td>
            <td id="col2">{{status.firstName}}</td>
            <td id="col3">{{status.lastName}}</td>
            <td id="col4">{{status.memberStatusDescription}}</td>
            <td id="col5">{{status.classDescription}}</td>
          </tr>
      </tbody>
  </table>
  </div>
  <!--<a routerLink="/addStatus">Add</a>-->
  </div> <!-- end of content container-->
  
</div> <!--end of container-->

