.container, #header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app-main {
    background: rgb(253, 236, 250, 0.7);
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid rgb(3, 3, 3);
    
}

#col2, #col3, #col4, #col5 {
    border-left: 1px solid rgb(3, 3, 3);
}

tr:nth-child(even) {
    background-color: rgb(255, 231, 245);
}

tbody tr:hover {
    background-color: rgb(157, 95, 250);
    color: rgb(255, 231, 245);
}

.table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

th, td {
    padding: 15px;
    text-align: left;
}