<form>
    <fieldset>
      <label for="FirstName">First Name</label>
        <input id="FirstName" type="text" placeholder="First Name" 
        [(ngModel)]="memberStatus.firstName">

      <label for="LastName">Last Name</label>
        <input id="LastName" type="text" placeholder="Last Name" 
        [(ngModel)]="memberStatus.lastName">

      <label for="MemberStatus">Member Status</label>
      <select id="MemberStatus" [(ngModel)]="personStatus.personStatusID">
        <option value="0-13">0-13</option>
        <option value="14-17">14-17</option>
        <option value="18-23">18-23</option>
        <option value="24+">24+</option>
      </select>

      <label for="commentField">Comment</label>
      <textarea placeholder="Hi CJ …" id="commentField"></textarea>
      <div class="example-send-yourself-copy">
        <input type="checkbox" id="confirmField">
        <label class="label-inline" for="confirmField">Send a copy to yourself</label>
      </div>
      <input class="button-primary" type="submit" value="Send">
    </fieldset>
</form>