<div class="container">
    <div class="content-container">
    
    <!-- table -->
    <div class="table-container app-main">
    <table>
        <thead>
            <tr>
                <th>Member ID</th>
                <th id="col2">First Name</th>
                <th id="col3">Last Name</th>
                <th id="col4">Member Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let status of statuses">
              <td>{{status.memberID}}</td>
              <td id="col2">{{status.firstName}}</td>
              <td id="col3">{{status.lastName}}</td>
              <td id="col4">{{status.memberStatusDescription}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div> <!-- end of content container-->
    
  </div> <!--end of container-->