.container, #header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(96, 108, 118);
}

.navbar li a:hover {
    background-color: rgb(157, 95, 250);
    color: rgb(255, 231, 245);
}

.app-main {
    background: rgb(253, 236, 250, 0.7);
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid rgb(3, 3, 3);
    
}

#col2, #col3, #col4, #col5 {
    border-left: 1px solid rgb(3, 3, 3);
}

tr:nth-child(even) {
    background-color: rgb(255, 231, 245);
}

tbody tr:hover {
    background-color: rgb(157, 95, 250);
    color: rgb(255, 231, 245);
}

.table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

th, td {
    padding: 15px;
    text-align: left;
}