.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.app-main {
    background: rgb(253, 236, 250, 0.7);
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid rgb(3, 3, 3);
    border-left: 1px solid rgb(3, 3, 3);
}

td {
    border-left: 1px solid rgb(3, 3, 3);
}

tr:nth-child(even) {
    background-color: rgb(255, 231, 245);
}

tr:hover {
    background-color: rgb(157, 95, 250);
}