<div id="header" class="main-text app-main"><h1>{{title}}</h1></div>
<div class="button-row app-main">
  <a class="button" routerLink="/add">Add</a>
  <a class="button" routerLink="">Find</a>
  <a class="button" routerLink="">Edit</a>
  <a class="button" routerLink="">Delete</a>
</div>
<div class="navbar app-main">
    <ul>
        <li><a routerLink="/all">All</a></li>
        <li><a routerLink="/status">Account Status</a></li>
        <li><a routerLink="/swim">Swim</a></li>
        <li><a routerLink="/yoga">Yoga</a></li>
        <li><a routerLink="/pilates">Pilates</a></li>
        <li><a routerLink="/kickboxing">Kickboxing</a></li>
    </ul>
</div>